<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CustomCake Board</title>
    <style>
        @import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
        body{
            background-color: #FF7DB4;
            font-family: "NanumSquare", Dotum, Arial; 
        }
        /* mainArea - style */
        .main-container{
            display: block;
            margin: 0 auto;
            margin-top: 40px;
            text-align: center;
            width: 100%;
            height: auto;
        }
        .board-content{
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
            border-style: solid;
            border-color: #ff006c;
            border-right-width: medium;
            border-radius: 25px;
            background-color: white;
            text-align: center;
            width: 60%;
            height: auto;
            color: #ff006c;
            font-size: 18px;
            line-height: 50px;
        }
        .board-content span{
            margin-left: 25px;
            margin-right: 25px;
        }
        .board-contnet-img img{
            margin-top: 20px;
        }
        .board-span-left{
            text-align: left;
        }
        .btnProcess{
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
            border-style: solid;
            border-color: #ff006c;
            border-right-width: medium;
            border-radius: 25px;
            background-color: white;
            text-align: center;
            width: 150px;
            height: 50px;
            color: #ff006c;
            font-size: 18px;
            line-height: 50px;
        }
        /* footer - style */
        .footer{
            display: block;
            width: 100%;
            height: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        .footer p{
            width: 100%;
            height: auto;
            text-align: center;
            font-size: 10px;
            color: white;
        }
    </style>
        <!-- 제이쿼리 사용 -->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
    <!-- main - header -->
    <%- include('mainHeader'); %>
    <!-- container -->
    <div class="main-container">
        <a href="/board/new"><div class="btnProcess">글쓰기</div></a>
    
        <% for(var i=0; i<boardList.length; i++ ){ %>
            <div class="board-content">
                <a href="/board/open/<%= boardList[i]._id %>">
                    <div class="board-contnet-img">
                        <% var b_file = JSON.parse(boardList[i].b_file) %>
                        <% if( 'boardphoto' in b_file ){ %>
                            <img src="/<%= b_file.boardphoto.filename %>" width="300px" height="300px">
                        <% } %>
                    </div>
                    <span class="board-span-left"><%= i+1 %>. <%= boardList[i].b_title %></span>
                    <span class="board-span-right"><%= boardList[i].b_writer %></span>
                </a>
            </div>
        <% } %>
    
    </div>
    <!-- main - footer -->
    <div class="footer">
        <p> Copyright(c)2020 CustomCake All rights reserved.</p>
    </div>
</body>
</html>